.container{
  
    height: 500px;
    background-color: aqua;
    border: 2px solid black;
    display: flex;
    justify-content:center;
    align-items: center;
}

.item-1{
    width: 150px;
    height: 150px;
    background-color: coral;
    border: 2px solid black;
    word-wrap: break-word;
}
.item-2{
    width: 150px;
    height: 150px;
    background-color: crimson;
    border: 2px solid black;

}
.item-3{
    width: 150px;
    height: 150px;
    background-color: darkgoldenrod;
    border: 2px solid black;
}