h1{
    background-color: brown;
    display: block;
   
}

P{
    background-color: burlywood;

}

span{
    background-color: cadetblue;
    
}

.span2{
    background-color: coral;
}

a{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 150px;
}