@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);

}

.titulo{
    font-family: "poppins",sans-serif;
    color: var(--Very-Dark-Blue);
    font-weight: 200;
    text-align: center;
}

.paragrafo{
    font-family: "poppins",sans-serif;
    font-size: 15px;
    color: var(--Grayish-Blue);
    text-align: center;
}
.cards-supervisor{
    display: inline-block;
    display: column;
    box-shadow: 10px 12px 39px 11px rgba(163,165,174,0.5);
border-radius: 5px;
padding: 30px;
border-top: 5px solid var(--Cyan);
position:relative ;
left: 50px;
top: 200px;
}

.titulo-card{
    
     color: var(--Very-Dark-Blue);
}

.paragrafo-card{
    color:var(--Very-Dark-Blue);
    width: 350px;
    margin-bottom: 40px;
    
}

.icon-card{
    width: 75px;
    align-self: flex-end;
}